@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.button {
    width: 100%;
    height: 5rem;
    font-size: 2rem;
    border-radius: 8px;
    outline: none;
    border: none;
    background-color: $button-color;
    color: $button-text-color;

    &__operator {
        background-color: $button-operator-color;
    }

    &__equals {
        background-color: $button-equals-color;
    }

    &__clear {
        background-color: $button-clear-decimal-color;
    }
}