$tablet-breakpoint: 48rem; // 768px
$desktop-breakpoint: 80rem; // 1280px

$background-color: #A9D9D4;
$calc-color: #FFB28F;
$button-color: #518C86;
$button-operator-color: blue;
$button-text-color: white;
$screen-color: rgb(239, 239, 239);
$screen-digit-color: rgb(72, 72, 72);
$screen-digit-background: lightgrey;
$square-color: red;