$tablet-breakpoint: 48rem; // 768px
$desktop-breakpoint: 80rem; // 1280px

$background-color: #A9D9D4;
$calc-color: #FFB28F;
$heading: #393E41;
$button-color: #3F88C5;
$button-operator-color: #44BBA4;
$button-equals-color: #E94F37;
$button-clear-decimal-color:#575f63;
$button-text-color: white;
$screen-color: rgb(239, 239, 239);
$screen-digit-color: rgb(72, 72, 72);
$screen-digit-background: lightgrey;
$square-color: #E94F37;