@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.square-container {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
    height: 9rem;

    &__square{
        height: 0;
        background-color: $square-color;
    }

    &__hidden{
        display: none;
    }

    &__symbols {
        font-size: 1.5rem;
        color: $screen-digit-color;
    }
}