.calc {

    max-width: 40rem;
    padding: 1rem;
    margin: 0 auto;

    &__screen-container {
        height: 15rem;
    }

    &__square-container {
        display: flex;
        flex-direction: row;
        gap: .625rem;
    }

    &__btn-container{
        display: flex;
        flex-direction: row;
        gap: .625rem;
    }

    &__number-pad{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(4, 1fr);
        grid-gap: .625rem;
    }

    &__operators{
        display: flex;
        flex-direction: column;
        gap: .625rem;
    }
}